@model GestorMaterias.Models.Profesor

@{
    ViewData["Title"] = "Eliminar Profesor";
}

<h1>Eliminar Profesor</h1>

<h3>¿Estás seguro de que deseas eliminar este profesor?</h3>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @if (Model.Materias != null && Model.Materias.Any())
    {
        <h4>Materias asignadas:</h4>
        <ul>
            @foreach (var materia in Model.Materias)
            {
                <li>@materia.Nombre</li>
            }
        </ul>
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (!Model.Materias.Any())
        {
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        }
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>